<div class="footer">
  <div class="footer-copyright">
    Shake that Asana 2021
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/shake.that.asana/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="website-by">
    Website by Miranda Designs
  </div>
</div>
