<div class="title">
  <h1>About Lucy</h1>
</div>

<div class="about-content">
  <p>
    Lucy qualified as a 200 hour yoga teacher after learning with YogaHaven.
<br><br>
Lucy fell in love with yoga, after stubbornly doing it for forty days in Italy. By the end, she couldn’t imagine her life without it.
Now it isn’t, and yours doesn’t have to be either.
</p>
</div>

 <%= image_tag "lucy-yoga-44.jpeg", :id => "general-banner" %>

<div class="about-content">
<p>
During the 9-5 Lucy works in criminal law. Every other moment she is stretching, down-dogging, eating or helping other people to do any of those. Get in touch if you’re in need of some of this.
Lucy believes that everyone could benefit from Yoga.
  </p>
</div>

<div id="contact">
  <h3>Get in touch</h3>
  <p>@shake.that.asana || lucefenn@gmail.com</p>
</div>
