<div class="title">
  <h1>Classes</h1>
</div>


<div class="classes-content">
  <h3>(Virtual) Public classes</h3>
  <p>
    <strong>Monday 7pm</strong> - oneLDN; Zoom
  <br>
    <strong>Wednesday 5:30pm</strong> - @rawpress; Instagram live (and IGTV)
  </p>
</div>

<%= image_tag "lucy-yoga-42.png", :id => "general-banner" %>

<div class="classes-content">
  <h3>Private clients</h3>
  <p>
    Lucy teaches private clients to suit their level and schedule. She has a few available slots left for private yoga classes, so do get in touch to find out more, ask any questions or book yourself in.
  </p>
</div>


<div class="classes-content">
  <h3>Recorded classes</h3>
  <p>
  If you would like to be sent some pre-recorded videos to access whenever and wherever you like, again, get in touch.
  <br>
  These can come from a library of recorded classes, or we can make them bespoke for your needs.
  </p>
</div>

<%= image_tag "lucy-yoga-4.jpeg", :id => "general-banner" %>

<div class="classes-content">
  <h3>Events</h3>
  <p>
  Currently events look a little different to the yoga brunches and supper clubs that they used to look like. Instead we’re going online.
  <br>
  Lucy caters for online birthday parties, where you and your guests can send favourite tracks, memories and yoga poses to incorporate into the session.
  <br>
  Lucy is also available for zoom reunions, hen parties, baby showers - you name it.
  <br>
  Most recently, she has hosted an incredibly successful charity yoga brunch. Each guest received a personalised brunch-box by post, and enjoyed an hour of yoga with Lucy. The event raised over £1000 for Little Princess Trust and MacMillian Cancer Support.
  </p>
</div>

<div id="contact">
  <h3>Get in touch</h3>
  <p>@shake.that.asana || lucefenn@gmail.com</p>
</div>
