
<div id="home-page">
  <div class="home-carousel">
    <%= render 'shared/carousel' %>
  </div>
  <div class="home-intro">
    <p>
      Asana is the Sanskrit word for posture or seat.
      And this is the time where we shake it up a little.
      Get ready.
    <br><br>
      Everyone benefits from yoga. If you’re saying you don’t, then you probably need it most.
    </p>
  </div>
</div>


<div id="contact">
  <h3>Get in touch</h3>
  <p>@shake.that.asana || lucefenn@gmail.com</p>
</div>
