<div id="reviews-page">
  <div class="home-carousel">
    <%= render 'shared/reviews_carousel' %>
  </div>
    <%= image_tag "lucy-yoga-4.jpeg", :class => "review_img" %>
</div>


<div id="contact">
  <h3>Get in touch</h3>
  <p>@shake.that.asana || lucefenn@gmail.com</p>
</div>
