.banner-img{
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding:5px;
}

#general-banner {
  width: 700px;
  height:500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 25px;
  color: #696969;
  background-color: white;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.about-content{
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 25px;
  color: #696969;
  background-color: white;
  padding: 30px;
}

.classes-content{
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 25px;
  color: #696969;
  background-color: white;
  padding: 30px;
}

.classes-content h3{
  line-height: 2.2;
  font-weight: bold;
  text-align: center
}

.title{
  text-align: center;
  margin: 25px;
  color: #696969;
}


